/*---- BIO STYLES ---*/
.linkedin{font-size:1.25em; margin-left:1em;}

.left-image{float:left; width:25%;}
.left-image img{width:80%; margin-right:20%;}
.right-content{float:right; width:70%;}

.left-image-flipped{float:right; width:25%;}
.right-content-flipped{float:left; width:70%;}

.right-content h4, .right-content-flipped h4{padding-bottom:.5em;}
.bio-container{clear:both; padding:1em 1em 1em 0;}
.bio-container p{font-size: 1em;}
.bio-social{ margin:0; }
.bio-social-text{padding:0;font-size: 1em;}
.bio-social-icons{font-size:1.5em;}
ul.bio-social-icons{margin:0!important;}
.bio-social-icons li{float:left;list-style: none; padding:0 .75em 0 0;}

@media screen and (max-width: 700px) {
.left-image, .left-image-flipped{float:left; width:60%;margin:0 20% 1em 20%;}
.right-content, .right-content-flipped{float:left; width:100%;}
}