.focus-item-content.quotation{width:calc(100%! - 2em)!important; color:#ffffff;-webkit-border-radius: 10px;border-radius: 10px;}
.focus-item-content.quotation .quote-block-sans{font-family:Arial,Tahoma,Verdana;}

.focus-item-content p{margin-bottom:.5em;}	
p.attribution{font-style: italic;font-size: .9em;margin-bottom:0;}

.quote-block, .quote-block-sans{text-align: left; padding:1.5em;font-size: 1em}
.quote-block.bigger, .quote-block-sans.bigger{text-align: left; padding:1.5em;font-size: 1.15em; }

.focus-item-content.quotation .quote-block, .focus-item-content.quotation .quote-block h1, .focus-item-content.quotation .quote-block h2,
.focus-item-content.quotation .quote-block h3, .focus-item-content.quotation .quote-block h4, .focus-item-content.quotation .quote-block h5,
.focus-item-content.quotation .quote-block h6{font-family:'Cinzel', Georgia,Times,Times New Roman,serif;}

