#header-bump {padding-top: 0em;}
#big-header-bump{padding-top:0em;}
.error404 #big-header-bump{padding-top:8em;}
#hero-top img{width: 100%;} 
#hero-top { display: grid;z-index: 99;position: relative;}
#hero-top h1{visibility: collapse;}

@supports (display: grid) {
#hero-top h1{visibility: visible;z-index: 888; margin:0;color:$regimentGreyColor; padding: 0;line-height: .25em;height: 1.5em;font-size: 2.5em;
line-height: 1.5em; font-weight: 600;}
.hero-caption{position: absolute; bottom:0;width:80%;left: 50%;transform: translateX(-50%);text-align: center;background: rgba($whiteColor, .6);
padding:1em 2em 1em 2em;}
#hero-top p{visibility: visible;z-index: 888; margin:0; color:$regimentGreyColor; padding: 0;font-size: 1.25em;line-height: 1.5em; font-weight: normal;}
}

@media (max-width:1000px){  
#hero-top p{font-size: 1.1em;line-height: 1.5em; }
}

@media screen and (max-width:725px){  
#hero-top,  #header-bump, #big-header-bump {padding-top: 0;}
#hero-top h1{font-size: 1.5em;}
}

@media (max-width:600px){ 
.hero-caption{width:95%;}
#hero-top h1{font-size: 1.25em;}
#hero-top p{font-size: 1em;line-height: 1em; }
}

@media (max-width:400px){ 
#hero-top p{font-size: 0em;line-height: 0em; color:transparent;visibility: none;}
}