$blackColor: #000000;
$whiteColor:#ffffff;
$redColor:#ed1d24;
$greyColor:#797b7d;
$darkGreyColor:#1d1d1d;
$blueButtonColor:#078dc8;


$regimentGreyColor:#4e4f51;
$hubGreyColor:#f2f3f6;
$hubRedColor:#be0d19;

$titleBlueColor:#008cc1;
$titleGreyColor:#4e4f51;;


$lightBlueColor:#00649c;
$darkBlueColor:#001f30;
$darkBrownColor:#322215;
$goldColor: #fadb27;/*-- actually yellow */
$redColor:#d30019;
$blueColor:#008cc1;/*#1349ad*/
$greenColor:#298934;
$darkerRedColor:#d30019;

$oswaldFont:'Oswald', Arial,Tahoma,Verdana;
$robotoFont:'Roboto', Arial,Tahoma,Verdana;
$robotoCondensedFont:'Roboto Condensed', Arial,Tahoma,Verdana;




$futuraFont:futura-pt,Arial,Tahoma,Verdana;

$defaultFont:Arial,Tahoma,Verdana;

$serifFont:Georgia,Times,Times New Roman,serif;

$titleFont:'Roboto Condensed', Arial,Tahoma,Verdana;

$nerdFont:"Courier 10 Pitch",Courier,monospace;
